<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Body Mass Index Calculator</title>

</head>

<body>
    <h1>Body Mass Index</h1>
    <form method = "post" action="/response">
    <feildset legend="BMI Calculator">
        <h3>Height:</h3>
        <p>Feet: <input type="text", name="footHeight"></p>
        <p>Inches: <input type="text", name="inchHeight"></p>
        <p>Weight: </p>
        <p>Pounds: <input type="text", name="weight"></p>
        <button type="submit">Calculate BMI</button>
    </feildset>
    </form>
</body>
</html>