<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Login Page</title>
	    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
	<div class="w3-container">
		<br><br><h1>Login</h1><br>
	 	<div class="w3-third"
       		<form  action="/searchAndBook" method="post">
				<table class="w3-table-all">
						 <thead>
							<tr style="background-color: #5859e0; color: #fff">
							  <td colspan="2">Sign In</td>
							</tr>
						</thead>
					<tr>
						<td>User name: </td>
						<td><input style="width: 80%" type="text" name="username" ></td>
					</tr>
					<tr>
						<td>Password: </td>
						<td><input style="width: 80%" type="password" name="password" ></td>
					</tr>
				</table>
		  	<div class="w3-container w3-content w3-center"><br>
				<input type="submit" value="Login" onclick="/searchAndBook" style="background-color: #5859e0; color: #fff" class="w3-button w3-margin-bottom">
				<input type="submit" name="Cancel" value="Cancel" onclick="/searchAndBook" style="background-color: #5859e0; color: #fff" class="w3-button w3-margin-bottom"/>
			</div>
        </form>
    </div>
	</div>
</body>
</html>
